<?xml version="1.0" encoding="utf-8"?>
<ObjDef xmlns="http://www.sonicretro.org" Name="Spring" Image="redvert">
  <Images>
    <ImageFromMappings id="redvert">
      <ArtFile filename="sprites/spring_art.bin" compression="Uncompressed"/>
      <MapFile type="ASM" filename="sprites/spring_sprites.asm" frame="0" startpal="0"/>
    </ImageFromMappings>
    <ImageFromMappings id="yelvert">
      <ArtFile filename="sprites/spring_art.bin" compression="Uncompressed"/>
      <MapFile type="ASM" filename="sprites/spring_sprites.asm" frame="0" startpal="1"/>
    </ImageFromMappings>
  </Images>
  <Subtypes>
    <Subtype id="00" name="Red" image="redvert"/>
    <Subtype id="02" name="Yellow" image="yelvert"/>
  </Subtypes>
  <Properties>
    <BitsProperty name="Color" type="SpringColor" startbit="1" length="1"/>
  </Properties>
  <Enums>
    <Enum name="SpringColor">
      <EnumMember name="Red"/>
      <EnumMember name="Yellow"/>
    </Enum>
  </Enums>
</ObjDef>